{% extends 'base.html' %}

{% load static %}
{% block content %}
<section class="about-section center-row">
    <div class="about-image-container center-row">
        <img src="{% static 'images/crew.jpeg' %}" alt="Electrical Services">
    </div>

    <div class="about-description-container center-column">
        <h1>About Us</h1>
        <h2>Your Trusted Electrical Experts</h2>
        <p>At RG Electric, we are committed to delivering top-notch electrical services with a focus on safety, efficiency, and customer satisfaction. With years of experience, we strive to provide innovative solutions for residential, commercial, and industrial electrical needs. Our team of licensed professionals is dedicated to delivering high-quality, reliable, and cost-effective electrical work for all of our clients.</p>
    </div>
</section>

<section class="mission-vision-us-section center-column">
    <h2>Our Mission</h2>
    <p>Our mission is to provide exceptional electrical services while ensuring the highest standards of safety and quality. We aim to be the leading provider of electrical solutions by offering innovative and reliable services that meet the unique needs of each client, no matter the scale or complexity of the project.</p>

    <h2>Our Vision</h2>
    <p>Our vision is to become the most trusted and respected electrical company in the industry. We aim to foster long-term relationships with our clients by consistently exceeding expectations and delivering safe, efficient, and sustainable electrical solutions. We are dedicated to staying at the forefront of technological advancements and incorporating eco-friendly practices in all our projects.</p>

    <h2>About Us</h2>
    <p>Founded with a passion for excellence and a dedication to customer service, RG Electric has grown to become a trusted name in electrical services. Our team is made up of skilled electricians who are not only experts in their field but also genuinely care about our clients’ needs. We pride ourselves on our strong work ethic, commitment to safety, and ability to deliver projects on time and within budget. Whether it's a simple repair or a complex electrical installation, we are your go-to team for reliable and professional service.</p>
</section>

{% endblock content %}
