.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.gallery-item {
    border: 2px solid #ddd;
    padding: 10px;
    width: 300px;
    text-align: center;
}

.gallery-item img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.gallery-item p {
    margin-top: 10px;
    font-size: 1.1em;
    color: #333;
}
