{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/services.css' %}">
    <link rel="stylesheet" href="{% static 'css/about.css' %}">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" href="{% static 'css/contact.css' %}">
    <link rel="stylesheet" href="{% static 'css/success.css' %}">
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
    <title>RG Electric</title>
</head>
<body>
    <div class="body">
        
        <header>
            <div class="logo-banner">
                <div class="logo">
                    <img src="{% static 'images/logo2.webp' %}" alt="Logo">
                </div>
            
            
                <!-- Hamburger button -->
                <nav>
                <div class="nav-btn">
                    <label for="nav-check">
                        <span></span>
                        <span></span>
                        <span></span>
                    </label>
                </div>
                
                <div class="nav-link center-row">
                    <a href="{% url 'home' %}">Home</a>
                    <a href="{% url 'about' %}">About</a>
                    <a href="{% url 'services' %}">Services</a>
                    <a href="{% url 'gallery' %}">Gallery</a>
                    <a href="{% url 'contact' %}">Contact</a>
        
                    <p> 📞 <a href=#>(619) 456-7890</a></p>
                    <p> 📧 <a href="{% url 'contact' %}">info@rgelectric.com</a></p>
                    <p> <a href=#> Lic: 1234567</a></p>
                </div>
            </nav>
        </header>

        
        <main>
            {% block content %}
            {% endblock content %}
        </main>

        <!-- Footer Section -->
        <footer class="site-footer">
            <div class="footer-content center-column">
                <p>Contact us: (619) 456-7890 | Email: info@rgelectric.com</p>
                <p>Follow us on: 
                    <a href="#">Facebook</a> | 
                    <a href="#">Instagram</a> | 
                    <a href="#">X</a>
                </p>
                <p>&copy; 2025 RG Electric. All Rights Reserved.</p>
            </div>
        </footer>
    </div>
</body>
</html>


