{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="contact-section center-column">
    <h1>Contact Us</h1>
    <h2>Provide the following information so we can best assist you</h2>

    <form method="post" class="center-column">
        {% csrf_token %}
        
        <div class="field">
            <label for="{{ form.name.id_for_label }}">Full Name</label>
            {{ form.name }}
        </div>

        <div class="field">
            <label for="{{ form.email.id_for_label }}">Email</label>
            {{ form.email }}
        </div>

        <div class="field">
            <label for="{{ form.message.id_for_label }}">Brief Description of Work Requested</label>
            {{ form.message }}
        </div>

        <button class="button-91" type="submit">Send Message</button>
    </form>
</section>
{% endblock %}
